@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Mulish:wght@400;500;600;700;800;900;1000&family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;500;700;800;900&display=swap");

/* Shared styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

:root {
  --primary-color: #131318;
  --secondary-color: #ff5400;
  --gray-color: rgba(19, 19, 24, 0.7);
}

.section-title {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 800;
}

.section-description {
  color: var(--gray-color);
  font-weight: 400;
  line-height: 26px;
}

.primary-btn {
  width: 170px;
  height: 50px;
  border-radius: 8px;
  background: #ff5400;
  border: 0;
  font-size: 1.25rem;
  font-weight: 800;
  color: #fff;
}
/* header related styles */
.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
.header-title-container {
  display: flex;
  gap: 5px;
}
.header-title-container img {
  width: 40px;
  height: 40px;
}

.header-title {
  color: var(--primary-color);
  font-size: 2.25rem;
  font-weight: 800;
}
.header-title span {
  color: var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 50px;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.2rem;
  font-weight: 400;
}
nav li:first-child a {
  color: var(--secondary-color);
}

/* main */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner section style */
.banner {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group 13 (1) (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.banner-container {
  text-align: center;
  padding-top: 105px;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}

.banner-description {
  color: #fff;
  text-align: center;
  font-weight: 400;
  width: 600px;
  margin: 5px auto;
}

form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  gap: 20px;
  margin: 20px auto;
  padding: 20px;
  width: 800px;
  align-items: center;
  justify-content: center;
}

form input,
select {
  border-radius: 8px;
  background: #fff;
  width: 170px;
  height: 45px;
  border: 0;
  padding-left: 10px;
}
.find {
  display: flex;
  gap: 5px;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 8px;
  width: 170px;
  height: 45px;
  border: 0;
  color: #fff;
}
.find i {
  padding-left: 30px;
}

/* Popular section styles */

.popular {
  display: flex;
  gap: 250px;
  margin-top: 100px;
}
.popular-container {
  width: 650px;
}

.popular-description {
  margin: 15px 0;
}

.popular-container ul li {
  margin-left: 25px;
  width: 550px;
  line-height: 26px;
  color: var(--gray-color);
}

/* destination section style */
.destination {
  margin-top: 100px;
}
.destination-content {
  text-align: center;
}
.destination-description {
  width: 680px;
  margin: 25px auto;
}

.destination-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.context{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  position: absolute;
}
.maldives {
  top: 1740px;
  left: 500px;
}

.indonesia{
  top: 1740px;
  right: 500px;
}
.destination-img .one,
.two,
.four,
.six,
.seven {
  grid-column: span 2;
}
.destination-img div img {
  width: 100%;
  height: 400px;
}

/* small device */

@media screen and (max-width: 600px) {
  /* shared styles */
  .primary-btn {
    font-size: 1rem;
  }
  .section-title {
    font-size: 20px;
  }
  .section-description {
    font-size: 14px;
  }

  .header,
  form,
  .popular {
    flex-direction: column;
  }

  .header {
    margin-left: 20px;
  }

  .header-title {
    font-size: 22px;
  }
  nav ul {
    display: none;
  }
  form {
    margin-top: 20px;
    width: 200px;
  }
  .banner {
    background-position: center;
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .banner-container {
    padding-top: 50px;
  }
  .banner-title {
    font-size: 22px;
  }
  .banner-description {
    font-size: 14px;
    width: 350px;
  }

  .find i {
    padding-left: 40px;
  }

  .find h4 {
    font-size: 14px;
  }

  .popular {
    gap: 20px;
    margin-top: 30px;
  }

  .popular-container {
    width: 350px;
    margin-left: 20px;
  }

  .popular-description {
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0;
    line-height: 24px;
  }

  .popular-container ul li {
    font-size: 14px;
    width: 300px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .popular-img img {
    width: 95%;
    margin-left: 9px;
  }

  .destination {
    margin-top: 20px;
  }
  .destination-description {
    width: 350px;
    margin: 15px auto;
  }

  .destination-img {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .destination-img div img {
    width: 335px;
    height: 176px;
    margin-left: 20px;
  }

  .context{
    font-size: 1rem;
  }

  .maldives {
    top: 1920px;
    left: 130px;
  }
  .indonesia {
    top: 2100px;
    right: 130px;
  }
}
